body{
    background-color: #EDEDED;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */    
    /* font: 400 20px/1.5 Avenir, "游ゴシック", "Helvetica Neue", "Open Sans", Helvetica, Arial, Verdana, Roboto; */
    /* font-feature-settings: "kern" 1; */
    /* font-kerning: normal; */
    font-family: 'Kosugi', sans-serif;

}

span:not(.pl-k,.pl-smi) {
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* font: 400 20px/1.5 Avenir, "游ゴシック", "Helvetica Neue", "Open Sans", Helvetica, Arial, Verdana, Roboto; */
    /* font-feature-settings: "kern" 1; */
    /* font-kerning: normal; */
    /* font-family: 'Kosugi Maru', sans-serif; */
}

strong {
    font-weight: bold;
    /* text-shadow: 1px 1px 0 rgba(0,0,0,.1); */
    /* color: #006600; */
}

b,em,strong{
    font-weight: 1000;
    color: #007b50;
}

a {
    font-weight: bold;
}

a:link {
    color: #6c9bd2;
}

a:visited {
    color: #6c9bd2;
}

a:hover {
    color: #0086cc;
}

a:active {
    color: #0086cc;
}

table, td, th{
    border-collapse: collapse;
    border: 2px solid #444444;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cover-image{
  border: none !important;
}

.head-image {
    border: none !important;
    padding-bottom: 6px;
    vertical-align: bottom;
    display: inline;
}

.post img {
    /* border: 1px solid #444444; */
}

.post{
    font-size: 20px;
}

.nav {
    background-color: #005638;
    color: #ffffff;
    padding-top: 10px;
    height: 90px;
}

.nav ul {
    margin: 0;
}

.nav-title {
    font-size: 48px;
    color: #ffffff !important;
    /* font-family: 'Saira Extra Condensed', sans-serif; */
    /* font-family: 'Kosugi Maru', sans-serif;     */
}

.nav-title img {
    display: inline;
    margin-top: 10px;
}

.nav-title span {
  font-size: 48px;
  font-weight: bold;
}

.nav-title a {
  color: #ffffff;
}

.nav-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-container ul li a {
    font-size: 20px;
    color: #ffffff;
}

.nav-info{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding: 0px;
  font-weight: bold;
  font-family: 'Saira Extra Condensed', sans-serif;
  /* font-family: 'Kosugi', sans-serif; */  
  /* font-family: 'Kosugi Maru', sans-serif; */
}

footer {
    max-width: none;
    width: 100%;
    background-color: #005638;
    color: #ffffff;
    margin-top: 20px;
}

footer span {
    font-size: 18px;
    color: #ffffff;
}

.post-title {
    font-size: 40px;
    color: #007b50;
}

.post-line {
    margin-bottom: 20px;
}

.post-info {
    font-weight: bold;
}

.catalogue-title{
    font-size:30px;
    color: #007b50;
}

.catalogue-info {
    color: #000000;
}

.pagination span{
    color: #007b50;
    font-weight: bold;
    font-size: 20px;
}

.pager {
    overflow: hidden;
}

.pager ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}

.pager ul li {
    margin: 0 2px;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;    
}

.pager ul li span,
.pager ul li a {
    display: block;
    font-size: 14px;
    padding: 0px 2px;
    border-radius: 1px;
    font-weight: bold;
}

.pager ul li a {
    background: #007b50;
    color: #ffffff;
    text-decoration: none;
}

.pager ul li a:hover {
    background: #005638;
    color: #f8e58c;
}

.slider {
    margin-top: 20px;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
}

.introduction div {
    flex-basis: 230px;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.horizontal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.horizontal div {
    height: 30px;
    margin-right: 10px;
}

#freetile-box a:hover{
    text-decoration: underline #f8e58c;
}

#menu {
  display: none;
}

#menu ul{
  display: inline;,
}

.slicknav_menu {
  background: #005638 !important;
}

.slicknav_menu a {
  background: #003300;
}

@media screen and (min-width : 600px) {
  #menu {
    display: inline;
  }
  .slicknav_menu {
    display: none;
  }
}

.adsense {
  text-align: center;
}

/* SNS ボタンのグループ */
.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.snsButtons a {
  text-decoration: none;
}

.snsButtons a:link, a:visited, a:hover, a:active {
  color: white;
}

/* 各 SNS ボタンのボックス */
.snsButtons li {
  display: inline-block;  /* 水平に並べる */
  list-style-type: none;  /* 先頭のポッチを消す */
  margin: 2px;
  padding: 6px 0px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  opacity: 0.7;
}
/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
/* アイコン部分 */
.snsButtons i {
  font-size: 18pt;
  min-width: 40px;
  margin: 0px;
  padding: 0px 0px 0px 8px;
  vertical-align: bottom;
}
/* テキスト部分 */
.snsButtons_label {
  min-width: 80px;
  display: inline-block;
  padding: 0px 8px 0px 0px;
  text-align: center;
  font-size: 12pt;
}
/* 各 SNS のブランドカラー */
.snsButtons_twitter  { background: #1da1f2; }
.snsButtons_facebook { background: #3b5998; }

