<!DOCTYPE html>

<html>
  
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    
    <style>
      div{
        margin: 5px;
      }
    </style>
  </head>
  
  <body>
 
    <header>
      <h1>Table to SQL</h1>
    </header>
      
    <main>
      <div>
        <ol>
          <li>Copy & Paste Your HTML Table</li>
          <li>Overwrite Row Names</li>
          <li>Set Your Table Name</li>
          <li>Click "Convert to SQL"</li>
        </ol>
      </div>

      <div id="spreadsheet">
      </div>

      <div id="converter">
        <div>
          <label>Table Name: </label>
          <input v-model="table" placeholder="Table name"></input>
        </div>
        <div>
          <button v-on:click="convert">Convert to SQL</button>
          <button v-on:click="reset">Reset Table</button>
          <button v-on:click="clip">Copy to Clipboard</button>
        </div>
        <div>
          <textarea v-model="sql" cols="80" rows="20" placeholder="Generated SQL"></textarea>
        </div>
      </div>
    </main>
  
    <footer>
      <p>
        Implemented by Naoto Mukai<br>
        <a href="https://mukai-lab.info">https://mukai-lab.info</a>
      </p>
    </footer>
    
    <script src="main.js"></script>
      
  </body>
  
</html>