<!-- Google Adsence -->
<div style="border-top: 2px solid black">
    <div class="wrapper">
        <h3>スポンサーリンク</h3>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- フッター（モバイル） -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-1652300955422837"
             data-ad-slot="6854507108"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
