<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
        <!-- <div style="margin-bottom:0px"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div>
        <div class="fb-like" data-href="http://naoto-github.github.io/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div> -->
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li>{{ site.title }}</li> -->
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
          <li style="margin-bottom:5px">
              {% include sns.html %}
              <!-- <div class="fb-like" data-href="http://naoto-github.github.io/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
              <div><a href="https://twitter.com/share" class="twitter-share-button" data-via="nmukai1978" data-hashtags="mlab">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div> -->
          </li>
          <!-- <li><div><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div></li> -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
