
header{
	text-align: center;
}

h1 {
font-size:40px;
color:#696969;
font-family: "M PLUS Rounded 1c";
text-align: center;
}
body {

}
footer{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	/* font-size: 12px; */
}
