html, body{
  height: 100%;
  background-color: green;
}

#main{
  height: 80%;
}

#map{
  height: 100%;
}

header{
  height: 130px;
  text-align: left;
}

footer{
  height: 30px;
  text-align: right;
}

header, footer, h1, p, div{
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: green;
}