<!-- <h3>エクスポートの注意</h3>

<p>
    JavaFXを利用したGUIアプリケーションを実行可能JARファイル形式でエクスポートする前に、
    下記のコードをMyApplicationクラスに記述してください。
    このコードがないと正常にエクスポートできない可能性があります。
</p> -->

<h3><img style="margin-right:5px;margin-bottom:7px" src="/favicon/favicon-25x25.png">プログラム実行時の注意</h3>

<p>
    JavaFXは<b>mainメソッド</b>がなくともプログラムの実行が可能という特徴を持っています。
    しかし、Eclipseの現バージョンでは未対応のため、下記のコードをMyApplicationクラスに記述する必要があります。
    プログラム実行の前に、必ず下記のコードをソースコードに挿入してください。
</p>

<script src="https://gist.github.com/naoto-github/d88625751b695e660adb.js"> </script>
