<!DOCTYPE html>
  
<html>
  
  <head>
    <title>デジタル昆虫探検マップ</title>
    
    <!-- Vue.js -->
    <script src="./lib/vue.js"></script>
    
    <!-- leaflet.js -->
    <script src="./lib/leaflet.js"></script>
    <link rel="stylesheet" href="./lib/leaflet.css"> 
    
    <!-- bootstrap -->
    <script src="./lib/bootstrap.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">   
    
    <!-- exifr -->
    <script src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.js"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id="app">
      <h1>{{ title }}</h1>
      <p style="margin-bottom:10px">
        <b>h</b>: ホームに戻る
        <b>n</b>: 次のマーカーへ
        <b>p</b>: 前のマーカーへ
        <b>i</b>: ズームイン
        <b>o</b>: ズームアウト
      </p>
      
      <form class="form-inline">        
        <label>緯度:</label>
        <input id="input-lat" type="text" class="input-small" v-model="lat" v-on:move="updateLat()">
        <label>経度:</label>
        <input id="input-lng" type="text" class="input-small" v-model="lng" v-on:move="updateLng()">
        <button type="button" class="btn btn-success" v-on:click="toggle()">
          昆虫画像のアップロード
        </button>
        <button type="button" class="btn btn-primary" v-on:click="load()">
          データの読込
        </button>
        <button type="button" class="btn btn-primary">
          <a v-bind:href="download_url" download>データの保存</a>
        </button>
        <button type="button" class="btn btn-info">
          <a href="https://mukai-lab.info/application/InsectMap/collections.json" type="application/json" download>サンプルデータ</a>
        </button>
        <button type="button" class="btn btn-info" v-on:click="clear()">データのクリア
        </button>
        <!-- JSONファイル読み込み用 -->
        <input
          style="display: none"
          ref="input"
          type="file"
          accept="application\/json"
          @change="selectedFile()"
        >
      </form>
      
      <div class="modal" v-bind:style="visibility">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">画像アップロード</h3>
            </div>
            <div class="modal-body">
              <h4>1枚ずつ画像をドラッグ＆ドロップしてください</h4>
              <input ref="image_input" @change="uploadFile()" type="file">
              <div class="drop_area" @dragenter="dragEnter" @dragleave="dragLeave" @dragover.prevent="dragOver" @drop.prevent="dropFile" v-bind:class="{enter: isEnter}">
                ファイルアップロード
              </div>
              <div>
                <div style="display:flex">
                  <div>
                    <h4>ファイル情報</h4>
                    <p>
                      <label>チーム名を選んでください</label>
                      <select class="form-select" v-model="image_team">
                        <option value="チームA" selected>大浦ファミリー</option>
                        <option value="チームB">尾藤ファミリー</option>
                        <option value="チームC">植田ファミリー</option>
                        <option value="チームD">花植ファミリー</option>
                        <option value="チームE">向ファミリー</option>
                      </select>
                    </p>
                    <p>
                      <label>アイコンを選んでください</label>
                      <select class="form-select" v-model="image_icon">
                        <option value="icon_humei.png" selected>その他</option>
                        <option value="icon_kabuto.png">カブトムシ</option>
                        <option value="icon_kuwagata.png">クワガタ</option>
                        <option value="icon_chou.png">チョウ</option>
                        <option value="icon_semi.png">セミ</option>
                        <option value="icon_hachi.png">ハチ</option>
                        <option value="icon_batta.png">バッタ</option>
                        <option value="icon_kamakiri.png">カマキリ</option>
                        <option value="icon_kumo.png">クモ</option>
                        <option value="icon_tonbo.png">トンボ</option>
                        <option value="icon_tentoumushi.png">テントウムシ</option>
                        <option value="icon_kusa.png">植物</option>
                      </select>
                    </p>                
                    <p>ファイル名: {{ image_name }}</p>
                    <p>緯度: {{ image_lat }} </p>
                    <p>経度: {{ image_lng }} </p>   
                    <p v-show="gps_flg" style="color:red">GPS情報が含まれていません</p>
                  </div>
                  <div style="display:table; width:100%;">
                    <div style="display:table-cell; vertical-align: middle; text-align:center">
                      <img v-bind:src="image_base64" width="200px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" v-on:click="upload()">アップロード</button>
              <button type="button" class="btn btn-secondary" v-on:click="toggle()">閉じる</button>
            </div>
          </div>
        </div>
      </div>    
    </div>
 
    <div id="map"></div>
    
    <!-- <script src="collections.json"></script> -->
    <script src="config.js"></script>
    <script src="main.js"></script>
  </body> 

</html>

