html, body{
  height: 100%;
  padding: 0px;
  margin: 0px;
}

html{
  /* overflow-y: hidden; */
}

#app{
  height: 15%;
  padding: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#map{
  height: 80%;
  margin: 20px;
  border: 3px solid black;
}

h1, h2, h3, p{
  font-color: red;
  font-family: 'Hachi Maru Pop', cursive;
  margin: 5px;
}

h1::before{
  content: url(./img/kabuto_50px.png);
  display: inline-block;
  vertical-align: middle;
}

.drop_area {
	line-height:100px;
	text-align:center;
	border:1px dotted #808080;
	color:#808080;
}

.enter{
  line-height:200px;
	text-align:center;  
  border: 10px dotted green;
  color:#808080;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.popup-image{
  width: 500px;
  max-height: 500px;
}