/* タイトルの背景 */
.title_back{
    background: linear-gradient(-115deg, #F2EFD9 50%, #FFF 50%);
    height: 100%;
    width: 100%;
    display: table;
}

/* メインページの背景 */
.main_back{
    background: #F2EFD9;
    height: 100%;
    width: 100%;
    display: table;
}

/* タイトルのレイアウト */
.title_block{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* メインページのレイアウト */
.main_block{
    display: table-cell;
    text-align: center;
    vertical-align: middle;    
}

/* タイトルのフォント */
.main_title{
    color: #1D2F58;
    font-size: 36px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* メインページのフォント */
.main_text{
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;    
}
