.app_back{
    background: linear-gradient(-115deg, #F2EFD9 50%, #FFF 50%);
    height: 100%;
    width: 100%;
    display: table;
}

.title_block{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.main_title{
    color: #1D2F58;
    font-size: 36px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main_text{
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;    
}


/*
.aikon{
    height: 800px;
    text-align: center;
}

.kion{
    left: 250px;
    font-size: 100px;
}

.tenki {
    text-align: center;
}
*/
